@import "./tailwind.css";

.register-bg {
  background-image: url("./images/undraw_dev_productivity_umsq.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-page {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/cporbit-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-bg {
  background-image: url("./images/undraw_Dev_focus_re_6iwt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.login-page {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/cporbit-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.settingsContainer {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.profileSettingsContainer {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 2rem;
}

.settingsHeader {
  display: grid;
  grid-template-columns: 1fr 24fr;
}

.connections-grid {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .settingsContainer {
    grid-template-columns: 1fr;
  }
  .profileSettingsContainer {
    grid-template-columns: 1fr;
  }
  .connections-grid {
    grid-template-columns: 1fr;
  }
  .profileContainer {
    grid-template-columns: 1fr;
  }
}
